

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Teko', sans-serif;
}

/* SCREEN */
.screen{
    display:flex;
    height:100vh;
}

/* LEFT SIDE*/
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leftside img {
    max-width: 600px;
    height:auto;
}
/* RIGHT SIDE*/

.rightside{
    width:400px;
    background-color:  #EEE;
    padding:50px;
    border-left: 2px solid #000;

}

.rightside label {
    display:block;
    margin-bottom: 20px;
}

.rightside input{
    width:100%;
    border: 1px solid #000;
    border-radius:5px;
    padding:8px;
    font-size:14px;
    outline: 0;
}

.rightside input:hover {
       background-color: #BBB; 
       border: 1px solid #000;

}    

.rightside a {
    color: #000;
    text-decoration: none;
}

.rightside a:hover {
    color: red;   
}

/*  ERROR   */

.error {
    font-size:11px;
    background-color: #FF0000;
    color: #FFF;
    padding:4px;
    border-radius: 5px;
}